<!--The content below is only a placeholder and can be replaced.-->
<div class="mb-4" style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<ul style="text-align: center;">
  <li> <a [routerLink]="['/seattle']">Seattle WA</a> </li>
  <li class="ml-3"> <a [routerLink]="['/sanjose']">San Jose CA</a> </li>
  <li class="ml-3"> <a [routerLink]="['/burbank']">Burbank CA</a> </li>
  <li class="ml-3"> <a [routerLink]="['/dallas']">Dallas TX</a> </li>
  <li class="ml-3"> <a [routerLink]="['/dc']">Washington DC</a> </li>
  <li class="ml-3"> <a [routerLink]="['/chicago']">Chicago IL</a> </li>
</ul>

<router-outlet></router-outlet>
